body {font-family: "Open Sans", sans-serif;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #0093FF;
    opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #0093FF;
    opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #0093FF;
    opacity: 0.5;
}
:-moz-placeholder { /* Firefox 18- */
    color: #0093FF;
    opacity: 0.5;
}
::placeholder{
    color: #0093FF;
    opacity: 0.5;
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    /* border-top: 22px solid red; */
    margin: auto;
    padding: 35px;
    border-top: 6px solid #0094FC;
    width: auto;
}
.modal-header {
    padding: 2px;
    background-color: #5cb85c;
    color: white;
    margin-top: 1%;

}

.close {
    color: rgb(42, 147, 252);
    float: right;
    font-size: 38px;
    font-weight: 100;
}
.close:hover,
.close:focus {
    color: rgb(248, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.Sub_Svg{
    margin-left: 38%;
    position: inherit;
}

#subscription-header-text{
    margin-top: 0.5%;
    text-align: center;
    color: #0094FC;
}

#sub-heading-text{
    text-align: center;
    color: #0094FC;
    font-size: 0.6rem;
    font-weight: 500;
    margin-top: -2.0%;
    padding-bottom: 0.7em;
}
#mce-EMAIL{
    border: 2px solid #0093FF;
    color: #0093FF;
    padding: .4rem 1.6rem;
    max-width: 22rem;
    min-width: 15rem;
    width: 90%;
    border-radius: 40px;
}


.subscribe-email{
    display: flex;
    color: #0093FF;
    position: relative;
    text-align: center;
    padding-left: 10%;
    margin: auto;
}
.inp1{
    padding: 1.5%;
    width: 60%;
    background-color: rgb(233,246,255);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#Subs-Button{
    color: white;
    border: none;
    padding: 1%;
    cursor: pointer;
    font-size: small;
}

.btn11{
    padding: 3% 4.5%;
    background-color: rgb(42, 147, 252);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;

}
.subs-email{
    background-color: rgb(233,246,255);
    border: none;
    border-width: 0;
    padding: 3%;
    width: 70%;
    outline:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.over-all-content{
    margin: auto;
    width: 45%;
    box-shadow: 19px solid yellow;
}


@media only screen and (max-width: 768px) {

    .over-all-content{
        display: flex;
        margin: auto;
        width: 80%;
        box-shadow: 19px solid yellow;
    }


    #subscription-header-text{
        text-align: center;
        color: #0094FC;
        font-size: 16px;
    }

    .Sub_Svg{
        margin-left: 30%;
    }
    .subscribe-email{
        display: flex;
        color: #0093FF;
        position: relative;
        text-align: center;
        padding-left: 5%;
    }

    .sub-modal{
        display: flex;
        justify-content: space-between;
    }

}

input.subs-email{

}
