body {font-family: "Open Sans", sans-serif;}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    /* border-top: 22px solid red; */
    margin: auto;
    padding: 35px;
    border-top: 6px solid #0094FC;
    width: auto;
}
.modal-header {
    padding: 2px;
    background-color: #5cb85c;
    color: white;
    margin-top: 1%;

}

/* The Close Button */
.close {
    color: rgb(42, 147, 252);
    float: right;
    font-size: 38px;
    font-weight: 100;
    padding-left: 30%;
    margin-top: 1%;
}
.close:hover,
.close:focus {
    color: rgb(248, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.Sub_Svg{
    margin-left: 38%;
}

#subscription-header-text{
    text-align: center;
    color: #0094FC;
    line-height: 0;
}

#sub-heading-text{
    line-height: 0;
    text-align: center;
    color: #0094FC;
    font-size: 9px;
    font-weight: lighter;
    padding-top: 1em;
}
#mce-EMAIL{
    border: 2px solid #0093FF;
    color: #0093FF;
    padding: .4rem 1.6rem;
    max-width: 22rem;
    min-width: 15rem;
    width: 90%;
    border-radius: 40px;
}


.subscribe-email{
    display: flex;
    color: #0093FF;
    position: relative;
    text-align: center;
    padding-left: 10%;
}
.inp1{
    padding: 1.5%;
    width: 60%;
    background-color: rgb(233,246,255);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
#Subs-Button{
    color: white;
    border: none;
    padding: 1%;
    cursor: pointer;
    font-size: small;
}

.btn11{
    padding: 3%;
    background-color: rgb(42, 147, 252);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: left;

}
.subs-email{
    background-color: rgb(233,246,255);
    border: none;
    border-width: 0;
    padding: 3%;
    width: 70%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.over-all-content{
    margin: auto;
    width: 45%;
    box-shadow: 19px solid yellow;
}
/* Responsiveness */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
   
.over-all-content{
    margin: auto;
    width: 80%;
    box-shadow: 19px solid yellow;
}


#subscription-header-text{
    text-align: center;
    color: #0094FC;
    font-size: 16px;
}

#sub-heading-text{
   display: none;
}

#sub-heading-text2{
    text-align: center;
    color: rgb(42, 147, 252);
    word-break: break-all;
}

.Sub_Svg{
    margin-left: 25%;
}
.close {
    color: rgb(42, 147, 252);
    float: right;
    font-size: 38px;
    font-weight: 100;
    padding-left: 15%;
    margin-top: 1%;
}
.subscribe-email{
    display: flex;
    color: #0093FF;
    position: relative;
    text-align: center;
    padding-left: 5%;
}

  }
  

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
       
#sub-heading-text2{
    display: none;
}
  } 
  
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   
#sub-heading-text2{
    display: none;
}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
     
#sub-heading-text2{
    display: none;
}
  }